dir /bin         0755 0 0
dir /dev         0755 0 0
dir /dev/pts     0755 0 0
dir /etc         0755 0 0
dir /proc        0755 0 0
dir /root        0755 0 0
dir /sys         0755 0 0
dir /tmp         0755 0 0
dir /var         0755 0 0
dir /var/run     0755 0 0
dir /tmp         1777 0 0

nod /dev/null      0600 0 0 c 1  3
nod /dev/port      0600 0 0 c 1  4
nod /dev/zero      0600 0 0 c 1  5
nod /dev/full      0600 0 0 c 1  7
nod /dev/random    0600 0 0 c 1  8
nod /dev/urandom   0600 0 0 c 1  9
nod /dev/aio       0600 0 0 c 1 10
nod /dev/kmsg      0600 0 0 c 1 11
nod /dev/tty0      0600 0 0 c 4  0
nod /dev/tty       0600 0 0 c 5  0
nod /dev/console   0600 0 0 c 5  1
nod /dev/ptmx      0600 0 0 c 5  2

nod /dev/pts/ptmx 0600 0 0 c   5 2
nod /dev/pts/0    0600 0 0 c 136 0
nod /dev/pts/1    0600 0 0 c 136 1
nod /dev/pts/2    0600 0 0 c 136 2
nod /dev/pts/3    0600 0 0 c 136 3
nod /dev/pts/4    0600 0 0 c 136 4
nod /dev/pts/5    0600 0 0 c 136 5
nod /dev/pts/6    0600 0 0 c 136 6
nod /dev/pts/7    0600 0 0 c 136 7
nod /dev/pts/8    0600 0 0 c 136 8

file /hcl-init    ${HCL_INIT}   0755 0 0
file /bin/underhill  ${UNDERHILL}    0755 0 0
